$mainFont: 'Gotham Pro', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #151515;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1;

$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$TableDesktopWidth: 992px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
